<div class="col-md-4 col-sm-6 col-xs-12">
  <h2>All Users</h2>


  <form role="search">
    <div class="input-group">
      <%= form_tag(users_path, method: :get, class: "form-inline") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Users", class: "form-control" %>
      <div class="input-group-btn">
        <%= submit_tag "Search", class: "btn btn-default form-group", name: nil %>
      <% end %>
      </div>
    </div>
  </form>


  <% @users.each do |user| %>
    <li class = "list_items">
      <%= "#{user.first_name} #{user.last_name}" %>
      <% if !current_user.already_followed(user) %>
        <%= link_to "Follow", friendships_path(friend_id: user), method: :post %>
      <% end %>
    </li>
  <% end %>

  <%= paginate @users %>
</div>
