<h2>All Users</h2>

<% @users.each do |user| %>
  <li>
    <%= "#{user.first_name} #{user.last_name}" %>
    <% if !current_user.already_followed(user) %>
      <%= link_to "Follow", friendships_path(friend_id: user), method: :post %>
    <% end %>
  </li>
<% end %>


<h3>Following</h3>

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  <%= current_user.friendships.count %>
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Followed By</h4>
      </div>
      <div class="modal-body">
        <% current_user.friendships.each do |x| %>
          <li>
            <% if x.friend %>
              <%= x.friend.first_name %>
              <%= link_to "Unfollow", friendship_path(x), method: :delete %>
            <% end %>
          </li>
        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<h3>Followed by</h3>

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  <%= current_user.inverse_friends.count %>
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Followed By</h4>
      </div>
      <div class="modal-body">
        <% current_user.inverse_friends.each do |user| %>
          <li>
            <%= user.first_name %>
          </li>
        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
