<div class="modal fade in" id="login">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h2>Sign in</h2>
      </div>

      <div class="modal-body">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

          <div><%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %></div>

          <div><%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %></div>

          <% if devise_mapping.rememberable? %>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>

          <div><%= f.submit "Sign in", class: "btn btn-default" %></div>
        <% end %>
      </div>

      <div class="modal-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
