<div class="col-md-4 col-sm-6 col-xs-12">
  <h2>All Restaurants</h2>

  <form role="search">
    <div class="input-group">
      <%= form_tag(restaurants_path, method: :get, class: "form-inline") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Restaurants", class: "form-control" %>
      <div class="input-group-btn">
        <%= submit_tag "Search", class: "btn btn-default form-group", name: nil %>
      <% end %>
      </div>
    </div>
  </form>

  <ul>
    <% @restaurants.each do |restaurant| %>
      <li class="list_items"><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>

  <%= paginate @restaurants %>
</div>

