<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li>
    <%= link_to 'Favorites', favorite_restaurants_path, role: 'tab' %>
  <li class="active">
    <%= link_to 'Search', search_path, role: 'tab' %>
  </li>
  <li>
    <%= link_to 'Chart', chart_path, role: 'tab' %>
  </li>
</ul>
<div class="tab-content">
  <div id="searchyelp">
    <h2>Search through yelp</h2>
    <div class="yelp_search_and_results">
      <%= form_tag "/search", method: :get, class: :search do %>
        <%= label_tag :term, "Restaurant Name"  %>
        <%= text_field_tag :term %>

        <%= label_tag :city, "City" %>
        <%= text_field_tag :city %>

        <%= label_tag :state, "State" %>
        <%= text_field_tag :state %>

        <%= submit_tag "Search", class: "btn btn-default" %>
      <% end %>

      <% if @restaurants %>
      <% @restaurants["businesses"].each do |restaurant| %>
        <li><%= "#{restaurant["name"]} - #{restaurant["city"]}" %>
            <%= link_to "★", { controller: :favorite_restaurants, restaurant: restaurant["name"], address: restaurant["address1"], city: restaurant["city"], state: restaurant["state"], phone: restaurant["phone"], zipcode: restaurant["zipcode"], rating: restaurant["avg_rating"], yelp_review: restaurant["rating_img_url"], category: restaurant["categories"][0]["name"], yelp_photo_url: restaurant["photo_url"]}, method: :post %></li>
      <% end %>
      <h5><a href="#" class= "show_manual_restaurant">Not what your looking for?</a></h5>
      <%end %>
    </div>

    <div class="manual_restaurant">
      <h4>Add your favorite restaurant manually!</h4>
      <%= form_for @restaurant do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %><br>

        <%= f.label :address %>
        <%= f.text_field :address, class: "form-control" %><br>

        <%= f.label :city %>
        <%= f.text_field :city, class: "form-control" %><br>

        <%= f.label :state %>
        <%= f.text_field :state, class: "form-control" %><br>

        <%= f.label :zipcode %>
        <%= f.text_field :zipcode, class: "form-control" %><br>

        <%= f.label :phone %>
        <%= f.text_field :phone, class: "form-control" %><br>

        <%= f.submit class: "btn btn-default" %>
      <% end %>
    </div>
  </div>

