<h2><%= @restaurant.name %></h2>

<%= @restaurant.address %>
<%= @restaurant.city %>
<%= @restaurant.state %>
<%= @restaurant.zipcode %>

<% if @restaurant.is_favorite?(current_user) %>
  <h4>Comment on this restaurant</h4>
  <%= form_for [@restaurant, @comment] do |f| %>

    <%= f.label :body %>
    <%= f.text_field :body %>

    <%= f.submit "Create comment", class: "btn btn-default" %>
  <% end %>

  <ul>
    <% @restaurant.comments.each do |comment| %>
      <li><%= "#{comment.body} ---- #{comment.user.first_name}" %></li>
    <% end %>
  </ul>
<% end %>
