<h2><%= @restaurant.name %></h2>
<% if @restaurant.yelp_review %>
  <img src= <%= @restaurant.yelp_review %> alt="yelp stars">
<% end %>

<% if @restaurant.phone %>
  <p><strong>Phone:</strong> <%= @restaurant.phone.insert(3, "-").insert(7, "-") %></p>
<% end %>

<%= @restaurant.address %><br>
<%= @restaurant.city %>
<%= @restaurant.state %>
<%= @restaurant.zipcode %>



<% if @restaurant.is_favorite?(current_user) %>
  <%= button_to "Remove from Favorites", favorite_restaurant_path(@restaurant), method: :delete, class: "btn btn-default" %>
<% else %>
  <%= button_to "Add to Favorites", { controller: :favorite_restaurants, restaurant_id: @restaurant}, method: :post, class: "btn btn-default" %>
<% end %>

<% if @restaurant.is_favorite?(current_user) %>
  <h4>Comment on this restaurant</h4>
  <%= form_for [@restaurant, @comment] do |f| %>

    <%= f.label :body %>
    <%= f.text_field :body %>

    <%= f.submit "Create comment", class: "btn btn-default" %>
  <% end %>

  <ul>
    <% @restaurant.comments.each do |comment| %>
      <li><%= "#{comment.body} ---- #{comment.user.first_name}" %></li>
    <% end %>
  </ul>
<% end %>
