<p>Add your favorite restaurant</p>
<%= form_for @restaurant do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %>

  <%= f.submit %>
<% end %>

<h2>Your Favorite Restaurants</h2>
<ul>
  <% @favorite_restaurants.each do |restaurant| %>
    <li><%= restaurant.restaurant.name %></li>
  <% end %>
</ul>
