<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li class="active"><a href="#favorites" role="tab">Favorites</a></li>
  <li id= "search">
    <%= link_to 'Search Yelp!', search_path, role: 'tab' %>
  </li>
  <li>
    <%= link_to 'Category Chart', chart_path, role: 'tab' %>
  </li>
   <li>
    <%= link_to 'Followers', followers_path, role: 'tab' %>
  </li>
</ul>

<% if current_user.restaurants == [] %>
  <h2>You don't have any Favorite Restaurants yet!</h2>
<% else %>
  <br>
  <form role="search">
    <div class="input-group">
      <%= form_tag(restaurants_path, method: :get, class: "form-inline") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Restaurants", class: "form-control" %>
      <div class="input-group-btn">
        <%= submit_tag "Search", class: "btn btn-default form-group", name: nil %>
      <% end %>
      </div>
    </div>
  </form>
  <div class="row">
    <% @favorite_restaurants.each do |restaurant| %>
      <div class="col-md-3 col-sm-6 col-xs-6 test">
        <div class= "restaurant-box"><%= link_to restaurant_path(restaurant) do %>
          <%= image_tag(restaurant.yelp_photo_url, class: "yelp_photo img-responsive")%>
          <div class= "name"><%= restaurant.name %></div>
          <%= image_tag(restaurant.yelp_review, class: "yelp_stars") %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

